<div class="container">
    <!-- Footer top -->
    <div class="footer-top">
        <!-- Logo -->
        <a href="./" class="logo">
            <img src="./assets/img/logo-grocery-mart.svg" alt="Grocery Mart" class="logo__img" />
            <p class="logo__title">grocerymart</p>
        </a>

        <!-- Contact btn -->
        <a href="#!" class="btn btn--outline btn--rounded footer-top__btn">Contact Us</a>
    </div>
    <!-- Footer Separate -->
    <div class="footer-separate"></div>

    <!-- Footer body -->
    <div class="footer-body">
        <div class="footer-content">
            <div class="footer-menu">
                <div class="row row-col-4">
                    <!-- Footer content Col 1 -->
                    <div class="col">
                        <p class="footer-content__heading">Product</p>
                        <ul class="footer-content__list">
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Landing Page</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Popup Builder</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Web-design</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Content</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Integrations</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Footer content Col 2 -->
                    <div class="col">
                        <p class="footer-content__heading">Use Cases</p>
                        <ul class="footer-content__list">
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Web-designers</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Marketers</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Small Business</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Website Builder</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Footer content Col 3 -->
                    <div class="col">
                        <p class="footer-content__heading">Resources</p>
                        <ul class="footer-content__list">
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Academy</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Blog</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Themes</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Hosting</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Developers</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Support</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Footer content Col 4 -->
                    <div class="col">
                        <p class="footer-content__heading">Company</p>
                        <ul class="footer-content__list">
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">About Us</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Careers</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">FAQs</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Teams</a>
                            </li>
                            <li class="footer-content__item">
                                <a href="#!" class="footer-content__link">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Social -->
            <div class="social footer-social">
                <p class="social__heading">Follow us</p>
                <div class="social__list">
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-1.svg" alt="" class="social__icon" />
                    </a>
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-2.svg" alt="" class="social__icon" />
                    </a>
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-3.svg" alt="" class="social__icon" />
                    </a>
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-4.svg" alt="" class="social__icon" />
                    </a>
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-5.svg" alt="" class="social__icon" />
                    </a>
                    <a href="#!" class="social__icon-wrap">
                        <img src="./assets/icons/social-icon-6.svg" alt="" class="social__icon" />
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="footer-bottom">
            <p class="footer-bottom__copyright">© 2021 All Rights Reserved</p>

            <ul class="footer-bottom__list">
                <li class="footer-bottom__item">
                    <a href="#!" class="footer-bottom__link">Privacy Policy</a>
                </li>
                <li class="footer-bottom__item">
                    <a href="#!" class="footer-bottom__link">Terms of Use</a>
                </li>
                <li class="footer-bottom__item">
                    <a href="#!" class="footer-bottom__link">Sales and Refunds</a>
                </li>
                <li class="footer-bottom__item">
                    <a href="#!" class="footer-bottom__link">Legal</a>
                </li>
                <li class="footer-bottom__item">
                    <a href="#!" class="footer-bottom__link">Site Map</a>
                </li>
            </ul>
        </div>
    </div>
</div>
