<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/img/logo-grocery-mart.svg" alt="Grocery Mart" class="logo" />
            <p class="logo__title">grocerymart</p>
        </div>

        <!-- Nav -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Departments
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__link-icon" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Grocery
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__link-icon" />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">
                        Beauty
                        <img src="./assets/icons/arrow-down.svg" alt="" class="navbar__link-icon" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
