@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(36%) hue-rotate(90deg) brightness(112%)
        contrast(100%);
    --body-bg: #292e39;

    // Header
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate-bg-color: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-bg-color: #363c4a;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-filter: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(1895%) hue-rotate(184deg)
        brightness(96%) contrast(91%);

    // ACT Dropdown
    --act-dropdown-bg-color: #363c4a;
    --act-dropdown-shadow: rgba(23, 28, 40, 0.4);
    --act-dropdown-bottom-border-color: #171c28;
    --act-dropdown-item-thumb-border-color: rgb(23 28 40 / 50%);

    // Top ACT User
    --top-act-user-list-border-color: #2b2d31;

    // Top menu
    --top-menu-border-color: #171c28;
    --top-menu-icon-color: brightness(0) saturate(100%) invert(95%) sepia(16%) saturate(21%) hue-rotate(199deg)
        brightness(100%) contrast(99%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category item
    --category-item-bg: #171c28;
    --category-item-thumb-bg: #292e39;
    --category-item-title-color: #fff;

    // Filter button
    --filter-btn-color: #fff;
    --filter-btn-bg: #171c28;

    // Filter form
    --filter-form-bg-color: var(--dropdown-bg-color);
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form__tag-bg: #171c28;
    --filter-form-arrow-up: var(--dropdown-arrow-filter);

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Like btn
    --like-btn-bg: #292e39;

    //******** Footer ********//
    --footer-gradient-bg-1: #171c28;
    --footer-gradient-bg-2: #171c28;
    --footer-top-btn-border: #fff;

    --footer-content-link-color: #9e9da8;

    //Auth
    --auth-intro-bg: #171c28;
    --auth-intro-desc-color: #b9babe;
    --auth-content-bg: #292e39;
    --auth-heading-color: #b9babe;

    // Form
    --form-input-placeholder-color: #b9babe;
    --form-select-bg-color: #363c4a;
    --form-select-shadow-color: rgba(200, 200, 200, 0.4);
    --form-option-hover-bg: #292e39;

    // Product page
    --product-page-bg-color: #292e39;
    --product-info-bg-color: #171c28;
    --product-info-tax-bg: #292e39;

    // Breadcrumbs
    --breadcrumbs-bg-color: #171c28;
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    // Review card
    --review-card-bg-color: #171c28;
    --review-card-shadow: rgba(0, 0, 0, 0.2);

    // Checkout page
    --checkout-page-bg-color: #292e39;

    --checkout-search-bar-bg-color: #171c28;

    --checkout-breadcrumbs-bg-color: #171c28;
    --checkout-breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    --checkout-list-bg-color: #171c28;
    --checkout-list-shadow-color: rgba(23, 28, 40, 0.2);

    --checkout-item-border-color: #292e39;

    --payment-item-bg-color: #292e39;

    // Gift item
    --gift-item-icon-wrap-bg-color: #292e39;
    --gift-item-icon-wrap-shadow-color: transparent;

    // Dialog
    --dialog-content-bg-color: #363c4a;
    --dialog-content-shadow-color: rgba(23, 28, 40, 0.4);

    // Profile page
    --profile-sidebar-bg-color: #171c28;
    --profile-sidebar-shadow-color: rgba(23, 28, 40, 0.2);
    --profile-item-bg-color: #292e39;
    --profile-item-icon-bg-color: #171c28;
    --profile-user-link-hover-color: #292e39;

    // Separate
    --separate-bg-color: #292e39;

    //********** Responsive **********//

    // Header
    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Product page
    @include abstracts.screen(md) {
        --product-page-bg-color: #292e39;
        --product-container-bg-color: #171c28;
        --product-container-shadow-color: rgba(23, 28, 40, 0.2);
        --product-info-bg-color: transparent;
    }

    // Breadcrumbs
    @include abstracts.screen(md) {
        --breadcrumbs-bg-color: transparent;
    }
}
