@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(36%) hue-rotate(90deg) brightness(112%)
        contrast(100%);
    --body-bg: #292e39;

    // Header
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate-bg-color: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-bg-color: #363c4a;
    --dropdown-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-filter: brightness(0) saturate(100%) invert(21%) sepia(5%) saturate(1895%) hue-rotate(184deg)
        brightness(96%) contrast(91%);

    // Top menu
    --top-menu-border-color: #171c28;
    --top-menu-icon-color: brightness(0) saturate(100%) invert(95%) sepia(16%) saturate(21%) hue-rotate(199deg)
        brightness(100%) contrast(99%);

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }
}
