@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(23%) saturate(1834%) hue-rotate(212deg) brightness(95%)
        contrast(96%);
    --body-bg: #f6f6f6;

    // Header
    --header-bg-color: #eee;

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-bg-color: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);

    // Top menu
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --category-item-bg: #eee;
    --category-item-thumb-bg: #fff;
    --category-item-title-color: #000;

    // Filter button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Filter form
    --filter-form-bg-color: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form__tag-bg: #f8f8fb;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Like btn
    --like-btn-bg: #fff;

    //******** Footer ********//
    --footer-gradient-bg-1: #eee;
    --footer-gradient-bg-2: #fff;
    --footer-top-btn-border: #000;

    //Auth
    --auth-content-bg: #fff;

    // Form
    --form-input-placeholder-color: #d2d1d6;

    //******** Responsive ********//
    //Header
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Category item
    @include abstracts.screen(md) {
        --category-item-bg: #fff;
    }

    //Auth
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }
}
