@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(23%) saturate(1834%) hue-rotate(212deg) brightness(95%)
        contrast(96%);
    --body-bg: #f6f6f6;

    // Header
    --header-bg-color: #eee;

    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-bg-color: #ededf6;
    --top-act-avatar-shadow: rgba(0, 0, 0, 0.08);

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);

    // ACT Dropdown
    --act-dropdown-bg-color: #fff;
    --act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --act-dropdown-bottom-border-color: #d2d1d6;
    --act-dropdown-item-thumb-border-color: #ebebeb;

    // Top ACT User
    --top-act-user-list-border-color: #ebebeb;

    // Top menu
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --category-item-bg: #eee;
    --category-item-thumb-bg: #fff;
    --category-item-title-color: #000;

    // Filter button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Filter form
    --filter-form-bg-color: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form__tag-bg: #f8f8fb;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Like btn
    --like-btn-bg: #fff;

    //******** Footer ********//
    --footer-gradient-bg-1: #eee;
    --footer-gradient-bg-2: #fff;
    --footer-top-btn-border: #000;

    //Auth
    --auth-content-bg: #fff;

    // Form
    --form-input-placeholder-color: #d2d1d6;
    --form-select-bg-color: #fff;
    --form-select-shadow-color: rgba(200, 200, 200, 0.4);
    --form-option-hover-bg: #ebebeb;

    // Product page
    --product-page-bg-color: #fff;
    --product-info-bg-color: #f6f6f6;
    --product-info-tax-bg: #ededf6;

    // Breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    // Review card
    --review-card-bg-color: #fafafd;
    --review-card-shadow: rgba(237, 237, 246, 0);

    // Checkout page
    --checkout-page-bg-color: #f6f6f6;

    --checkout-search-bar-bg-color: #fff;

    --checkout-breadcrumbs-bg-color: #fff;
    --checkout-breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    --checkout-list-bg-color: #fff;
    --checkout-list-shadow-color: rgba(237, 237, 246, 0.2);

    --checkout-item-border-color: #d2d1d6;

    --payment-item-bg-color: #f6f6f6;

    // Gift item
    --gift-item-icon-wrap-bg-color: rgba($color: #7644e1, $alpha: 0.1);
    --gift-item-icon-wrap-shadow-color: rgba(237, 237, 246, 0.2);

    // Dialog
    --dialog-content-bg-color: #fff;
    --dialog-content-shadow-color: rgba(200, 200, 200, 0.4);

    // Profile page
    --profile-sidebar-bg-color: #fff;
    --profile-sidebar-shadow-color: rgba(237, 237, 246, 0.2);
    --profile-item-bg-color: #f6f6f6;
    --profile-item-icon-bg-color: #fff;
    --profile-user-link-hover-color: #ebebeb;

    // Separate
    --separate-bg-color: #d2d1d6;

    //******** Responsive ********//
    //Header
    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Category item
    @include abstracts.screen(md) {
        --category-item-bg: #fff;
    }

    //Auth
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Product page
    @include abstracts.screen(md) {
        --product-page-bg-color: #fafafd;
        --product-container-bg-color: #fff;
        --product-container-shadow-color: rgba(237, 237, 246, 0.2);
        --product-info-bg-color: #fff;
    }

    // Breadcrumbs
    @include abstracts.screen(md) {
        --breadcrumbs-bg-color: #fff;
    }

    // Review card
    @include abstracts.screen(md) {
        --review-card-bg-color: #fff;
    }
}
