@use "../abstracts";

.form {
    $error-color: #ed4337;

    &__group {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }

        // @include abstracts.screen(md) {
        //     margin-top: 20px;
        // }

        // @include abstracts.screen(sm) {
        //     margin-top: 10px;
        // }

        &--inline {
            display: flex;
            align-items: center;
        }

        &--no-margin {
            margin-top: 0;
        }
    }

    &__textarea-input,
    &__text-input {
        border-radius: 10px;

        border: 1.5px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__textarea-input {
        padding: 12px;
    }

    &__text-input {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 50px;

        @include abstracts.screen(md) {
            height: 48px;
        }

        &--small {
            height: 42px;

            @include abstracts.screen(sm) {
                height: 42px;
            }
        }
    }

    // Begin: Validation
    &__error-text {
        margin-top: 10px;
        text-align: left;
        color: $error-color;
        font-size: 1.4rem;
        font-weight: 500;
        display: none;
    }

    &__input-icon-error {
        margin-left: 12px;
        width: 20px;
        display: none;
        animation: shake 0.5s;
    }

    &__text-input:has(:invalid):has(&__input:not(:placeholder-shown)) {
        border-color: $error-color;
        background-color: rgba($color: $error-color, $alpha: 0.1);

        ~ .form__error-text,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__input,
    &__textarea {
        height: 100%;
        width: 100%;

        font-size: inherit;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }

        &::placeholder {
            color: var(--form-input-placeholder-color);
        }
    }

    &__textarea {
        resize: none;
    }

    // End: Validation

    &__input {
        flex: 1;

        &-icon {
            margin-left: 12px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox-label {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__checkbox-input {
        margin: 0;
    }

    &__label {
        display: flex;
        align-items: center;
        position: relative;

        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        user-select: none;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;

            &::before {
                margin-bottom: 5px;
            }
        }
    }

    // BEGIN: Custom Checkbox
    &__checkbox-input:checked ~ &__label::before {
        background-color: #ffb700;
        border-color: #ffb700;
    }

    &__checkbox-input:checked ~ &__label::after {
        display: inline-block;
    }

    &__label::before,
    &__label::after {
        content: "";
        display: inline-block;
    }

    &__label::before {
        margin-right: 10px;
        width: 19px;
        height: 19px;
        border-radius: 5px;
        border: 1.5px solid #9e9da8;
    }

    &__label::after {
        position: absolute;
        top: 6px;
        left: 4px;
        width: 11px;
        height: 6px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        rotate: -45deg;
        display: none;
    }

    // END: Custom Checkbox

    // BEGIN: Form Prop
    &__row {
        display: flex;
        align-items: center;
    }

    &__group-prop {
        --margin-top: 20px;

        margin-top: var(--margin-top);

        &-inline {
            display: flex;
            column-gap: 30px;
        }
    }

    &__label-prop {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &--small {
            display: block;
            margin-bottom: 10px;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            @include abstracts.screen(sm) {
                margin-bottom: 4px;
            }
        }
    }

    &__select-prop-wrap {
        display: flex;
        height: 45px;
        padding: 5px 0;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select-prop {
        display: flex;
        align-items: center;
        gap: 17px;
        padding: 0 14px;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        cursor: pointer;

        &:first-child {
            border-right: 1px solid #d2d1d6;
            gap: 65px;

            @include abstracts.screen(xl) {
                gap: 17px;
            }
        }

        @include abstracts.screen(lg) {
            flex-grow: 1;
            justify-content: space-between;
        }

        &-prop-icon {
            display: block;
            padding: 0 5px;
        }
    }

    &__tags-prop {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 10px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__tag-prop {
        height: 32px;
        padding: 0 12px;
        border-radius: 6px;
        background: var(--form__tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        color: #9e9da8;
        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
    // END: Form Prop

    // Form Search
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-input {
            flex: 1;
            height: 100%;

            font-size: 1.6rem;
            font-weight: 500;

            &::placeholder {
                font-weight: 400;
            }
        }

        &-icon {
            margin-left: 10px;
            height: 100%;
            cursor: pointer;
        }
    }

    // Form Select Option
    &__select {
        position: absolute;
        bottom: 44px;
        left: 10px;
        z-index: 1;

        display: flex;
        flex-direction: column;

        min-width: 230px;
        max-height: 250px;
        padding: 10px 0;
        border-radius: 10px;

        border: 1px solid #d2d1d6;
        background-color: var(--form-select-bg-color);
        box-shadow: 0 0 5px var(--form-select-shadow-color);

        @include abstracts.screen(lg) {
            padding: 0 0 10px;
        }

        @include abstracts.screen(sm) {
            position: fixed;
            inset: 0;
            min-width: initial;
            max-height: initial;
            border-radius: 0;
        }

        &-modal-close {
            font-size: 3rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: 22px 20px;
            opacity: 0.7;
        }
    }

    &__option-list {
        flex: 1;

        margin-top: 8px;
        overflow-y: auto;
        overscroll-behavior-y: contain;

        // Hỗ trợ 100vh trên ios
        @supports (-webkit-touch-callout: none) {
            padding-bottom: 260px;
        }
    }

    &__option {
        padding: 8px 20px;

        font-size: 1.4rem;

        @include abstracts.screen(lg) {
            padding: 14px 20px;
        }

        @include abstracts.screen(sm) {
            padding: 20px 30px;
            font-size: 1.6rem;
        }

        &--current {
            font-weight: 500;
            background-color: rgba($color: #ffb700, $alpha: 0.5);
        }

        &:not(&--current):hover {
            background-color: var(--form-option-hover-bg);
            cursor: pointer;
        }
    }
}
