@use "../abstracts";

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 21px;

    &__heading {
        font-weight: 700;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(xl) {
            gap: 12px;
        }

        @include abstracts.screen(lg) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            width: 80%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px 32px;
        }
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 32px;
        height: 32px;
        border-radius: 50%;

        background-color: #fff;
        box-shadow: 0px 6px 12px rgba(24, 39, 75, 0.12);

        @include abstracts.screen(sm) {
            width: 42px;
            height: 42px;
        }
    }

    &__icon {
        padding: 6px;
        transition: scale 0.15s;

        &:hover {
            scale: 1.5;
        }
    }
}
