@use "../abstracts";

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__message,
    &__desc {
        margin-top: 4px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__btn {
        padding: 0 20px;
        font-size: 1.8rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &-icon {
            margin-right: 10px;
        }
    }

    &__message {
        font-weight: 500;

        &-link {
            color: #0071dc;
            text-decoration: underline;
        }
    }
}

.user-address-card {
    display: flex;
    gap: 16px;

    margin-top: 30px;

    @include abstracts.screen(sm) {
        flex-direction: column;
    }

    &__left {
        flex-grow: 1;

        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc {
        margin-top: 4px;

        max-width: 570px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 30px;

        margin-top: 20px;

        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;

        @include abstracts.screen(md) {
            gap: 16px;
            flex-wrap: wrap;

            margin-top: 16px;
        }

        &-item {
            list-style: disc inside;
            padding-left: 8px;
        }
    }

    &__ctrl {
        height: 100%;

        display: flex;
        align-items: flex-end;
    }

    // .checkout-card__btn => checkout.scss

    // Checkbox => checkout.scss
}
