@use "../abstracts";

.add-new-card {
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__icon {
        width: 30px;
        vertical-align: bottom;
    }

    &__form {
        margin-top: 30px;

        @include abstracts.screen(sm) {
            margin-top: 16px;
        }
    }

    &__form-row {
        gap: 30px;
        margin-top: 30px;

        & > * {
            flex: 1;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: normal;

            gap: 16px;
            margin-top: 16px;
        }
    }

    &__form-label {
        margin-bottom: 20px;

        font-size: 1.8rem;
        line-height: 144.444%;
        user-select: none;

        @include abstracts.screen(sm) {
            margin-bottom: 12px;

            font-size: 1.5rem;
        }

        &--margin-small {
            margin-bottom: 10px;
        }
    }

    &__form-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__form-btn {
        font-size: 1.6rem;
        font-weight: 500;

        &--submit {
            min-width: 123px;
        }

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            flex: 1;

            &--submit {
                min-width: 50%;
            }
        }
    }
}
