@use "../abstracts";

.checkout-page {
    padding-bottom: 50px;
}

// Checkout-container
.checkout-container {
    margin-top: 30px;
    border-radius: 20px;
    background-color: var(--checkout-container-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-container-shadow-color);

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.checkout__search-bar {
    border-radius: inherit;
    background-color: var(--checkout-search-bar-bg-color);
}

.checkout-breadcrumbs {
    background-color: var(--checkout-breadcrumbs-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-breadcrumbs-shadow-color);
}

// Checkout content
.checkout-content {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-list-bg-color);
    box-shadow: 0px 20px 60px 10px var(--checkout-list-shadow-color);

    & + & {
        margin-top: 30px;
    }

    @include abstracts.screen(md) {
        padding: 16px;
    }
}

// Checkout card btn
.checkout-card {
    &__btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
    }

    &__btn-icon {
    }

    // Check box
    &__checkbox {
        @include abstracts.screen(sm) {
            padding: 6px;
        }
    }

    &__checkbox-input {
        appearance: none;

        &::before {
            content: url(../icons/checkbox-uncheck.svg);
        }

        &:not(:checked)::before {
            filter: var(--icon-color);
        }

        &:checked::before {
            content: url(../icons/checkbox-checked.svg);
        }
    }
}

// Checkout bottom
.checkout-bottom {
    margin-top: 30px;
}

.checkout-row,
.checkout-continue__link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.checkout-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include abstracts.screen(md) {
        font-size: 1.6rem;
        line-height: 150%;
    }

    & + & {
        margin-top: 10px;
    }

    &--bold {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(xl) {
            font-size: 1.8rem;
        }

        @include abstracts.screen(lg) {
            font-size: 2.2rem;
        }

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }
}

.checkout__label--sub {
    font-weight: 400;

    @include abstracts.screen(md) {
        font-weight: 400;
    }
}

.checkout-continue {
    display: flex;
    align-items: flex-end;

    height: 100%;

    &__icon {
        rotate: 90deg;
        transition: translate 0.3s;
    }

    &__link:hover &__icon {
        translate: -5px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.checkout-separate {
    height: 1px;
    margin: 30px 0;
    background-color: var(--checkout-item-border-color);

    @include abstracts.screen(md) {
        margin: 20px 0;
    }

    @include abstracts.screen(sm) {
        margin: 16px 0;
    }
}

.checkout__next-btn {
    margin-top: 30px;
    min-width: 100%;
    height: 58px;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 145.455%;
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 76px;
        height: 76px;

        border-radius: 14px;
        background: var(--gift-item-icon-wrap-bg-color);
        box-shadow: 0px 20px 60px 10px var(--gift-item-icon-wrap-shadow-color);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}

.checkout__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    @include abstracts.screen(md) {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }
}

.checkout__sub-heading {
    margin: 30px 0;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    @include abstracts.screen(md) {
        margin: 20px 0;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    @include abstracts.screen(sm) {
        margin: 16px 0;
    }
}

.payment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg-color);
    cursor: pointer;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }

    @include abstracts.screen(sm) {
        align-items: flex-start;
    }

    &__thum {
        width: 70px;
        height: 54px;
        object-fit: cover;
    }

    &__content {
        flex: 1;

        display: flex;
        align-items: center;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {
        flex: 1;
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__desc,
    &__link {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }
    }

    &__desc {
        margin-top: 4px;

        &--low {
            color: #9e9da8;
        }
    }

    &__link {
        margin-right: -8px;
        padding: 8px;
        text-decoration: underline;
        color: #0071dc;
    }

    &__cost-wrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 14px;

        margin-right: -6px;

        @include abstracts.screen(sm) {
            margin: 0 0 -6px -6px;

            padding-top: 16px;
        }
    }

    &__cost {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: #9e9da8;
    }

    &__checkbox-input:checked ~ &__cost {
        color: var(--text-color);
    }
}

.payment-form {
    margin: 30px 0;

    @include abstracts.screen(md) {
        margin: 20px 0;
    }
    &__row {
        gap: 20px;
        margin-top: 30px;
    }
}
