@use "../abstracts";

.home {
    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }
}

.category {
    background-color: orange;
}

.product {
    background-color: green;
}
