@use "../abstracts";

.home {
    padding-bottom: 50px;

    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }

    &__gutter-category-list {
        --grid-gutter-x: 51px;

        @include abstracts.screen(xxl) {
            --grid-gutter-x: 40px;
        }

        @include abstracts.screen(xl) {
            --grid-gutter-x: 30px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 20px 0;
    }
}
