.product-page {
    min-height: 80vh;

    display: flex;
    flex-direction: column;

    background-color: var(--product-page-bg-color);
}

// product-container
.product-container {
    margin-top: 30px;
}

// product-preview
.product-preview {
    &__list {
        display: flex;
        align-items: center;
        padding: 30px;
        overflow: hidden;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        padding-top: 92%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // product-preview__thumbs
    &__thumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 30px;
        overflow: hidden;
    }

    &__thumb {
        width: 65px;
        height: 65px;
        object-fit: contain;
        flex-shrink: 0;

        border-radius: 8px;
        border: 1.5px solid rgb(158, 157, 168, 0.3);
        cursor: pointer;
        opacity: 0.8;
        transition: opacity, border-color;
        transition-duration: 0.25s;

        &:hover {
            opacity: 1;
            border-color: rgb(158, 157, 168, 1);
        }

        &--current {
            opacity: 1;
            border-color: #ffb700;
            cursor: initial;

            &:hover {
                border-color: #ffb700;
            }
        }
    }
}

.product-info {
    padding: 60px;
    border-radius: 10px;
    background-color: #f6f6f6;

    &__lable {
        margin-top: 30px;
    }

    &__tag {
        background-color: #ededf6;
    }
}

.product__heading {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 138.462%;
}

.product-props {
    padding-left: 30px;
}

.product-prop {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 30px;

    &__icon {
        align-self: flex-start;
        padding: 3px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;

        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
