@use "../abstracts";

.profile-page {
    padding: 30px 0 50px;

    @include abstracts.screen(md) {
        padding-top: 10px;
    }

    @include abstracts.screen(sm) {
        padding-top: 0;
    }
}

.profile-container {
    @include abstracts.screen(md) {
        margin-top: 30px;
    }

    @include abstracts.screen(sm) {
        margin-top: 20px;
    }
}

.profile-sidebar {
    padding-bottom: 30px;
    border-radius: 20px;
    background: var(--profile-sidebar-bg-color);
    box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow-color);
}

.profile-user__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px 0 20px;

    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow-color);
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
        url(../img/profile/profile-top-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.profile-user {
    &__avatar-wrap {
        width: 116px;
        height: 116px;
        border-radius: 50%;

        overflow: hidden;
        outline: 5px solid rgba(255, 255, 255, 0.2);
        background-color: #ccc;
    }

    &__avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name,
    &__desc {
        color: #fff;
    }

    &__name {
        margin-top: 20px;

        font-size: 1.8rem;
        font-weight: 700;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 2px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__list-wrap {
        margin: 30px 30px -5px 30px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__list {
        margin-top: 11px;
    }

    &__item {
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;

        height: 34px;
        padding: 0 4px;
        border-radius: 4px;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;

        transition: background-color 0.2s;

        &:hover {
            background-color: var(--profile-user-link-hover-color);
        }
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 24px;
    }

    &__icon {
    }
}

.profile-content {
    padding: 30px;
    border-radius: 20px;
    background: var(--profile-sidebar-bg-color);
    box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow-color);

    @include abstracts.screen(sm) {
        padding: 16px;
    }
}

.profile-section {
    margin-top: 30px;

    @include abstracts.screen(sm) {
        margin-top: 20px;
    }

    &:first-child {
        margin-top: 0;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(sm) {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__desc {
        margin-top: 4px;
        margin-bottom: 16px;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;

        @include abstracts.screen(sm) {
            margin-bottom: 14px;

            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }
    }
}

// Favorite item
.favorite-item {
    display: flex;
    gap: 20px;

    &__thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 151px;
        height: 108px;

        @include abstracts.screen(lg) {
            width: 86px;
        }

        @include abstracts.screen(md) {
            width: 100px;
        }

        @include abstracts.screen(md) {
            width: 110px;
        }

        &-img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        flex: 1;
    }

    &__title-link {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: 10px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(sm) {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
    }

    &__btn {
        min-width: 126px;
        height: 42px;

        font-size: 1.5rem;

        @include abstracts.screen(sm) {
            min-width: 120px;
        }
    }
}
