.footer {
    margin-top: 50px;
    background-image: linear-gradient(40deg, #eee 56%, #fff 56%);

    &-separate {
        width: 100%;
        height: 1px;
        background: #b1b5bb;
        box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
    }

    &-body {
        margin-top: 68px;
    }
}

.footer-top {
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btn {
        min-width: 222px;
        height: 40px;
        padding: 0 26px;
        border-color: #000 !important;

        box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
        transition: box-shadow 0.15s;

        &:hover {
            box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;

    &__heading {
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__list {
        margin-top: 24px;
    }

    &__item {
    }

    &__link {
        display: block;
        padding: 8px 0;

        font-size: 1.6rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-menu {
    width: 60%;
}

.footer-social {
    width: 36%;
}

.footer-bottom {
    margin-top: 147px;
    padding-bottom: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__copyright {
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-block;
        padding: 8px 20px;
        font-size: 1.4rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
